
label{	
	color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0;
    padding: ;	
}
input[type=text] {
    line-height: normal;
	border: 3px solid #CFCFCF;
color: #CFCFCF;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
height: 25px;
}
select {
    line-height: normal;
	border:1px solid #b7b7b7;
	height:22px;
}
.form{
	margin:0;
	padding:0;
	}
	
.full{
	width:100%;
	display:inline-block;
	margin: 0 0 7px
	}
.full label{
	float: left;
    line-height: 22px;
    min-width: 100px;
	}
.full select{
	width: 285px;
    border: 3px solid #CFCFCF;
	float:left;
	margin:0 0 0 10px
	}
.full input[type=text]{
	width: 173px;
    border: 3px solid #CFCFCF;
	float:left;
	margin:0 0 0 10px
	}
.full textarea{
    border: 1px solid #737373;
    height: 58px;
    margin: 0 0 28px 35px;
    width: 235px;
	}
.full input[type="submit"]{
	background: url(../images/btn-send.png) no-repeat scroll center top transparent;
    border: medium none;
    display: block;
    height: 22px;
    margin: 0 0 10px 130px;
   
    width: 48px;
}	

.contact-samll{
	margin: 10px 0 0 15px
	}

.contact-samll label{
	float: left;
    line-height: 22px;
    min-width: 100px;
	}
.contact-samll input[type=radio]{
	float:left;
	margin:0 5px 0 0;
}
.contact-samll input[type=text],
.contact-samll select{
	width: 140px;
	float:left;
	margin:0 0 0 10px
}
.login-form{
    border: 2px solid #CCCCCC;
    padding: 10px;
    width: 202px;
	}
.login-form label{
    min-width: 202px;
	}
.login-form  input[type=text]{
    min-width: 202px;
	}








	
/* Home Page Search */	
input[type=text].search-home{
	background: none repeat scroll 0 0 transparent;
    border: 3px solid #CFCFCF;
    color: #CFCFCF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 25px;
    margin: 0 0 0 0;
    padding: 0;
    width: 166px;
	float:right;
	text-transform:uppercase
	}
	
/* Email List */	
input.input-email[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #333333;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 15px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    width: 202px;
}
input.submit-email[type="submit"] {
    background: none repeat scroll 0 0 #FF9900;
    border: medium none;
    color: #FFFFFF;
    float: right;
    font-family: 'BebasNeueRegular';
    font-size: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 49px;
}
input.checkbox-email[type="checkbox"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #1B466E;
    display: block;
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    width: 16px;
	}	
	
	
	