/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #C8C8C8; color: #fff; text-shadow: none; }
::selection { background: #C8C8C8; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #2d72b2;text-decoration:none }
a:visited { color: #2d72b2; }
a:hover { color: #2d72b2; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }


ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 65%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 20px; }
dd { margin: 0 20px 0 5px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
















/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { 
	background: transparent !important; 
	color: black !important; 
	text-shadow: none !important; 
	filter:none !important; 
	-ms-filter: none !important; 
  }
  /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


.select-options-button a {
background: none repeat scroll 0 0 #2D72B2;
color: #FFFFFF !important;
cursor: pointer;
display: inline-block;
font-family: 'BebasNeueRegular';
font-size: 22px;
left: auto;
line-height: 1em;
margin: 0;
overflow: visible;
padding: 6px 10px;
position: relative;
text-align: center;
text-decoration: none;
white-space: nowrap;
}

body > #TB_window {
    z-index: 1000;
}

#address_wrapper {
    /*width: 100%;
    overflow: auto;*/
}

#address_form #cart_items {
    /*float: left;
    width: 20%;*/
}

a.h2-link {
    font-size: 15px;
}

#address_form #cart_items ul {
    background: #f5f5f5;
    border: 1px solid #c4c4c4;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#address_form #cart_items ul li.cart-item, li.cart-item {
    position: relative;
    margin: 5px 0;
    padding: 5px;
    list-style: none;
    text-align: left;
    border-bottom: 1px dotted #ccc;
    cursor: move;
}

body > li.cart-item {
    zoom: 1;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

body > li.cart-item div.quantity {
    display: none;
}

#address_form #cart_items ul li.cart-item:last-child {
    border-bottom: none;
}

#address_form #cart_items ul li span.qty, li.cart-item span.qty  {
    display: inline-block;
    padding: 3px 9px;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 30px;
    background: red;
    color: #fff;
    font-weight: bold;
}

#address_form #cart_addresses {
    /*float: right;
    width: 78%;
    margin-left: 10px;*/
}

#address_form h2 a.button {
    font-size: 12px ;
    vertical-align: middle;
}

#address_form .address_block {
    overflow: auto;
}

#address_form .address-column {
    /*float: left;
    width: 60%;*/
}

#address_form .items-column {
    background: #f5f5f5;
    border: 1px solid #c4c4c4;
    font-size: 12px;
    margin: 0;
}

#address_form .items-column.guest {
    /*float: left;
    width: 200px;*/
}

#address_form ul.items-column li {
    position: relative;
    /*margin: 10px 0;*/
    /*margin: 5px 10px;*/
    margin: 0;
    /*padding: 0;*/
    padding: 5px 10px;
    list-style: none;
    text-align: left;
    border-bottom: 1px dotted #ccc;
    /*overflow: auto;*/
    cursor: default;
}

#address_form ul.items-column li h3 {
    font-size: 14px;
}

#address_form ul.items-column li img.remove {
    width: 64px;
    height: auto;
    float: left;
    margin-right: 5px;
}

#address_form ul.items-column li:last-child {
    border-bottom: none;
}

#address_form ul.items-column li span.qty {
    display: inline-block;
    padding: 3px 8px;
    margin-right: 5px;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    float: left;
    background: red;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

#address_form ul.items-column li a.remove {
    position: absolute;
    top: 0;
    right: 0;
}

#addresses_container .account-address {
    float: left;
    margin: 5px 10px;
    padding: 5px;
    width: 200px;
    border: 1px solid #999;
    background: #f5f5f5;
    min-height: 140px;
    overflow: hidden;
}

#addresses_container .account-address a.edit {
    float: right;
}

#address_form li.placeholder {
    text-align: center !important;
    font-size: 18px;
    color: #999;
}

#tb_addresses {
    overflow: auto;
}

#tb_addresses > .address_block {
    width: 150px;
    float: left;
    margin: 10px 2px;
    background: #F5F5F5;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
}

#tb_addresses > .address_block:hover {
    background: #BCFFEC;
}

ul.items-column.ui-state-hover, ul.items-column.ui-state-hover li {
    background-color: #E6E56C;
    color: #FFF;
}

li.cart-item-active {
    background-color: #E6E56C;
}

section.main.left
{
  width: 700px !important;
}

aside.option-pod.right {
  float: right !important;
  width: 230px !important;
  position: relative;
}

#megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item > ul.sub-menu.sub-menu-1 {
border-top: none;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
margin: -2px 0 0 1px;
}


