body{

	}
.wrapper{
	margin:0 auto;
	padding:0;
	width:960px;
	}
hr {
    background: url(../images/hr.png) no-repeat scroll center top transparent;
    border: medium none;
    clear: both;
    height: 41px;
    margin: 0 0 28px;
    padding: 0;
    width: 100%;
}
hr.up {
    background: url(../images/hr-2.png) no-repeat scroll center top transparent;
    border: medium none;
    clear: both;
    height: 41px;
    margin: 0 0 28px;
    padding: 0;
    width: 100%;
}
	
/* ----------
   	#header
   ----------- */
header{
    background: url(../images/bg-header.png) repeat-x scroll center top #FFFFFF;
    height: 60px;
    margin: 0 0 28px;
    padding: 0;
    width: 100%;
	}

/* Logo */
.logo{
    float: left;
    margin: 0;
    padding: 0;
	}
.tagline{
    color: #2D72B2;
    float: left;
    font-family: 'contrail_oneregular';
    font-size: 18px;
    margin: 15px 0 0;
    padding: 0;
	}


	
/* Social Media */
.media{
    height: 26px;
    float: right;
    margin: 12px 0 0;
    padding: 0;
	}
.media img{
    float: right;
    height: 26px;
    margin: 0 0 0 4px;
    padding: 0;
    width: 30px;
	}

/*  */






/* Nav Main */
/*.top-nav{
    display: inline-block;
    height: 28px;
    margin: 0 0 32px;
    padding: 0;
    width: 100%;
	}
*/	
.top-nav {
	display: inline-block;
	height: 28px;
	margin: 0 0 32px;
	padding: 0;
	line-height: 32px;
	width: 100%;
}
nav.main{
    margin: 0;
    padding: 0;
/*    width: 520px;*/
	float:left
	}
nav.main ul{
    margin: 0;
    padding: 0;
	}
nav.main ul li{
	color: #2D72B2;
    display: inline-block;
    margin: 0 40px 0 0;
    padding: 0;
	} 
nav.main ul li a{
	color: #2D72B2;
    display: inline-block;
    font-family: 'BebasNeueRegular';
    font-size: 19px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
	}    	
nav.main ul li a:hover,
nav.main ul li a:visited, {
    color: #154470;
	}



/* Nav Mian Right */
nav.main-right {
    margin: 0;
    padding: 0;
    width: 255px;
	float:right
}
nav.main-right ul{
    margin: 0 ;
    padding: 0;
}
nav.main-right ul li{
    color: #2d72b2;
    display: inline-block;
    margin: 0;
    padding: 0;
	} 
/*nav.main-right ul li a{
	background: #2D72B2;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'BebasNeueRegular';
    font-size: 19px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 28px;
    margin: 0 0 0 10px;
    padding: 0 6px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	}    	*/
nav.main-right ul li a{
	background: #2D72B2;
	color: #FFFFFF;
	display: inline-block;
	font-family: 'BebasNeueRegular';
	font-size: 19px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 31px;
	height: 28px;
	margin: 0 0 0 10px;
	padding: 0 6px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

nav.main-right ul li a:hover,
nav.main-right ul li a:visited, {
	background: #fff;
    color: #2D72B2;
    display: inline-block;
    font-family: 'BebasNeueRegular';
    font-size: 19px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 26px;
    margin: 0 0 0 10px;
    padding: 0 6px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	}

	
/* aside */

aside.option-pod{
	width:230px;
	display:block;
	}
aside.option-pod.right{
	float:right
	}		
	
aside.option-pod.left{
	float:left
	}		
	
aside.option-pod h2{
	background: #888;
    color: #fff;
    display: block;
    font-size: 19px;
    line-height: 42px;
    margin: 0 0 2px;
    text-indent: 10px;
    width: 230px;
	}
aside.option-pod h2.blue{
	background: #2d72b2;
    font-size: 21px;
	}

.pod-grey{
	background:#e7e7e7;
	padding: 12px 20px;
	margin:0 0 2px;
	display:block;	
	}
.pod-grey.box{
	float: left;
    margin: 0 30px;
    padding: 17px 20px 0;
    width: 340px;
	}
	
.pod-dark-grey{
	background:#c3c3c3;
	padding: 12px 20px;
	margin:0 0 2px;
	display:block;	
	}
	
span.pod-head{
	color: #888888;
    font-family: 'BebasNeueRegular';
    font-size: 21px;
    font-weight: normal;
    line-height: 28px;
    margin: 0 ;
    padding: 0;
	float:left;
	}
span.pod-head-bar{
	color: #888888;
    float: right;
    font-family: 'BebasNeueRegular';
    font-size: 51px;
    font-weight: normal;
    line-height: 28px;
    margin: 0 ;
    padding: 0;
	}
span.pod-head-bar a{
	color: #888888;
	text-decoration:none
}
span.color-palette{
	border: 2px solid #E7E7E7;
    display: inline-block;
    float: left;
    height: 25px;
    margin: 0 2px 0 3px;
    width: 38px;
	}
span.color-palette.selected{
	border:2px solid #fff;
	}

span.size{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #E7E7E7;
    color: #888888;
    float: left;
    font-family: 'BebasNeueRegular';
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 4px 10px 5px;
    text-align: center;
    width: 50px;
	}
span.size.selected{
   background: none repeat scroll 0 0 #888888;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    float: left;
    font-family: 'BebasNeueRegular';
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 6px 10px 7px;
    text-align: center;
    width: 46px;
	}
span.size:hover{
    background: none repeat scroll 0 0 #c3c3c3;
    border: 2px solid #c3c3c3;
    color: #888888;
    float: left;
    font-family: 'BebasNeueRegular';
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 4px 10px 5px;
    text-align: center;
    width: 50px;
	}







span.width{
	background: none repeat scroll 0 0 #fff;
    border: 2px solid #E7E7E7;
    color: #888888;
    float: left;
    font-family: 'BebasNeueRegular';
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 4px 0 5px;
    text-align: center;
    width: 50px;
	}
span.width:hover{
    background: none repeat scroll 0 0 #888888;
    border: 2px solid #fff;
    color: #FFFFFF;
    float: left;
    font-family: 'BebasNeueRegular';
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 4px 0 5px;
    text-align: center;
    width: 50px;
	}
span.qty-select{
	width:50px;
	float:right
	}
	
	
	
/* section */ 
section.main{
	width:700px;
	display:block;
	}
section.main.left{
	float:left;
	}
section.main.right{
	float: right;
	}
section.mian-full{
	width:960px;
	display:inline-block;
	margin:0 0 40px
	}
  



/*Grid Classes*/
.mGrid{
	width: 100%;
	margin: 0 0 30px;
	border-collapse: collapse;
	}
.mGrid th{
   color: #888888;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    padding: 0;
    text-align: left;
    text-indent: 5px;	
	border-bottom:1px solid #888
	}
.mGrid td{
    color: #888888;
    font-size: 14px;
    font-weight: normal;
    line-height: 36px;
    padding: 0;
    text-align: left;
	border-bottom:1px solid #888

	}
			
/* ----------
   	#footer
   ----------- */

.footer {
	background: url(../images/bg-footer.png) repeat-x scroll center top #FFFFFF;
    clear: both;
    height: 267px;
    margin: 30px 0 0 ;
    padding: 0;
	}  
.boot-image{
	background: url(../images/footer-boot.png) no-repeat scroll -35px 59px transparent;
    display: block;
    float: left;
    margin: 0;
    padding: 219px 0 0 7px;
    width: 400px;
	}  
.cards-row{
   display: block;
    margin: 0;
    padding: 0;		
	}
.card{
    color: #CCCCCC;
    display: inline-block;
    float: left;
    height: 23px;
    line-height: 18px;
    margin: 0 10px 0 0;
    padding: 0;
    text-align: left;
    width: 37px;
	}
.copyright{
    clear: both;
    color: #CCCCCC;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 18px;
    margin: 0;
    padding: 10px 0 0;
    text-align: left;
	}    	
.eamil-list{
   display: block;
    float: right;
    margin: 68px 0 0 7px;
    padding: 0;
    width: 270px;
	}
.eamil-list h2{
	clear: both;
    color: #FFFFFF;
    font-family: 'BebasNeueRegular';
    font-size: 44px;
    line-height: 48px;
    margin: 0;
    padding: 0;
    text-align: left;
	}
	
.bg-email-list{
	background: url(../images/bg-.email.png) repeat scroll center top transparent;
    display: inline-block;
    padding: 4px 6px 5px;
    width: 258px;
	}	
.email-col {
	width:64px;
	float:left
	}
.email-col label{
	color: #1B466E;
    font-family: 'BebasNeueRegular';
    font-size: 15px;
    line-height: 24px;
	}
	
/****************************
	Products Page
****************************/	
	
ul.products	{
	margin: 0;
    padding: 0;
	}
	
ul.products	li {
    float: left;
    list-style: none outside none;
    margin: 0 3.8% 0 0;
    padding: 0 0 47px;
    position: relative;
    width: 30.7%;
	}
ul.products	li.last {
    margin:0;
	}
	
ul.products	li a{
	}
	
ul.products li.product h3 {
    font-size: 16px;
    margin: 0;
    padding: 15px 0 10px;
    text-align: center;
	}
	
span.price {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0.5em;
    width: 100%;
}
span.amount-old{
    color: #C3C3C3;
    float: left;
    font-size: 16px;
    font-weight: normal;
    margin: 0 10px;
    text-align: center;
    text-decoration: line-through;
    width: 80px;
}

span.amount{
    color: #888888;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
    width: 80px;
}
.star-rating{
  display: inline-block;
    font-weight: normal;
    margin: 0 auto 2em;
    width: 100%;
	}
a.button{
    background: #2D72B2;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: 'BebasNeueRegular';
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    padding: 6px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
	}
a.button:hover{
    background: #C3C3C3;
    color: #888;
	}
a.quick-view-button{
	 width:80px;
	 float:left
	}	
a.add_to_cart_button{
	 width:80px;
	 margin:0 auto
	}
ul.products li.product strong {
    display: block;
    float: left;
    padding: 0 10px 0 0;
    width: 100px;
}



/* pagination */

nav.woocommerce-pagination {
	background: none repeat scroll 0 0 #C3C3C3;
    clear: both;
    display: block;
    height: 42px;
    text-align: center;
    width: 700px;
	}
nav.woocommerce-pagination ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
	}
nav.woocommerce-pagination ul li {
   display: inline;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
	
	
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: 'BebasNeueRegular';
    font-size: 18px;
    font-weight: normal;
    height: 42px;
    line-height: 42px;
}

nav.woocommerce-pagination ul li a, 
nav.woocommerce-pagination ul li span {

    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: 'BebasNeueRegular';
    font-size: 18px;
    font-weight: normal;
    height: 42px;
    line-height: 42px;
    margin: 0;
    min-width: 1em;
    padding: 0 2px;
    text-align: center;
    text-decoration: none;
}



nav.woocommerce-pagination ul li span.page-numbers.current{
	color:#888888		
	}
nav.woocommerce-pagination ul li a.prev {
    background: none repeat scroll 0 0 #2D72B2;
    color: #FFFFFF;
    margin: 0 252px 0 0;
    padding: 0;
    width: 50px;
	}
nav.woocommerce-pagination ul li a.next {
    background: none repeat scroll 0 0 #2D72B2;
    color: #FFFFFF;
    margin: 0 0 0 252px;
    padding: 0;
    width: 50px;
	}


 
/* Pop Up  */

div.pp_woocommerce .pp_content_container:after {
    clear: both;
    content: "";
    display: block;
	}
div.pp_woocommerce .pp_content_container {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.08);
    padding: 30px;
	}
.pp_content_container {
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 90%;
	}
.pp_content_container .pp_left {
    padding-left: 0;
	}
#pp_full_res .pp_inline {
    text-align: left;
}
div.pp_woocommerce .pp_inline {
    padding: 0 !important;
}
.div.quick-view div.quick-view-image {
    float: left;
    margin: 0;
    width: 38%;
}
div.quick-view div.quick-view-content {
   display: block;
    float: right;
    overflow: auto;
    padding: 0;
    width: 35%;
	}
span.amount-old-popup {
   color: #C3C3C3;
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px;
    text-align: center;
    text-decoration: line-through;
	}
span.amount-popup {
    color: #888888;
    display: block;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    margin: 0;
    text-align: center;
	}

span.rating {
   color: #C3C3C3;
    float: left;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 0 20px;
    text-decoration: line-through;
    width: 110px;
	}
span.star-blue{
	background: url(../images/star-blue.png) no-repeat scroll center top transparent;
    display: inline-block;
    float: left;
    height: 17px;
    margin: 0 0 0 2px;
    width: 17px;
	}
span.star-grey{
	background:url(../images/star-grey.png) top center no-repeat;
    display: inline-block;
    float: left;
    height: 17px;
    margin: 0 0 0 2px;
    width: 17px;
	}

span.review{
    color: #888888;
    float: right;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    text-align: right;
    width: 80px;
	}	

span.product-thumb{
    border-left: 1px solid #EDEDED;
    display: block;
    height: 70px;
    margin: 0 0 23px;
    width: 146px;
	}	
span.product-price-detail{
    display: block;
    margin: 0 0 60px;
    width: 146px;
	}	
span.more a{
    color: #2D72B2;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
    margin: 0;
    padding: 0;
    text-align: right;
    text-transform: uppercase;	
	}
		
.woocommerce div.product, .woocommerce-page div.product, .woocommerce #content div.product, .woocommerce-page #content div.product {
    margin-bottom: 0;
    position: relative;
}
.woocommerce div.product, .woocommerce-page div.product, .woocommerce #content div.product, .woocommerce-page #content div.product {
    margin-bottom: 0;
    position: relative;
}

.woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, .woocommerce div.product p.price, .woocommerce-page div.product p.price, .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price {
    color: #85AD74;
    font-size: 1.25em;
}
.woocommerce div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity, .woocommerce #content div.product form.cart div.quantity, .woocommerce-page #content div.product form.cart div.quantity {
    float: left;
    margin: 0 4px 0 0;
}

.woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt {
  background: none repeat scroll 0 0 #2D72B2;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: 'BebasNeueRegular';
    font-size: 22px;
    left: auto;
    line-height: 1em;
    margin: 0 auto 30px;
    overflow: visible;
    padding: 6px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 132px;
	}

div.quick-view div.quick-view-image {
	border-right: 1px solid #888888;
    float: left;
    margin: 0;
    padding: 0 2.5% 0 0;
    width: 60%;
	}
.product_title{
    clear: none;
    margin-top: 0;
    padding: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:center;
	font-size:30px;
}

div.quick-view div.quick-view-image img {
    display: block;
    height: auto;
    margin: 0 0 20px;
    width: 100%;
}

div.quick-view div.quick-view-image a.button {
    display: block;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}
.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button {
    background: none repeat scroll 0 0 #2D72B2;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'BebasNeueRegular';
    font-size: 22px;
    left: auto;
    line-height: 1em;
    margin: 0;
    overflow: visible;
    padding: 6px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}




button.product_add_to_cart_button {
    background: none repeat scroll 0 0 #2D72B2;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: 'BebasNeueRegular';
    font-size: 27px;
    height: 42px;
    line-height: 42px;
    margin: 24px auto 0;
    overflow: visible;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 230px;
	}


.porduct-left{
	width: 550px;
	float: left
	}
.porduct-left img{
	margin: 100px auto 0;
	display:block
	}

.porduct-left h1{
	text-align:center;
	margin:0 0 10px
	}
.porduct-star-rating {
    display: block;
    font-weight: normal;
    margin: 0 auto 2em;
    overflow: hidden;
    width: 220px;
}
span.porduct-head{
 color: #C3C3C3;
    display: block;
    font-family: arial;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    text-align: center;
    width: 146px;
	}
span.porduct-price {
   color: #C3C3C3;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 10px;
    text-align: center;
    width: 146px;
}
span.porduct-amount-old{
   color: #C3C3C3;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 10px;
    text-align: center;
    width: 146px;
}

.porduct-right{
	width:146px;
	float:right
	}


.detail-pod	{
    margin: 0 auto;
    padding: 0 0 70px;
    width: 960px;
}
.detail-pod	h1{
	text-align:center
}
.full-pod{
	margin: 0 auto;
    padding: 0 0 70px;
    text-align: center;
    width: 100%;
	}
.full-pod	h1{
	text-align:center
}

.col_560{
    display: block;
    margin: 0 auto;
    width: 620px;
	}
.col_250{
	width:250px;
	margin:0 30px;
	display:block;
	float:left
	}
.col_250 h6{
	margin:0 0 5px;
	}

span.foot-wrap {
    clear: both;
    display: block;
    margin: 0 auto 29px;
    overflow: hidden;
    padding: 0;
    width: 266px;
	}
span.foot{
	float: left;
    height: 84px;
    width: 31px;
	margin:0;
	padding:0
	}
span.foot.mid{
	margin: 0 86px;
    padding: 0;
	}
span.scale-wrap {
    clear: both;
    display: block;
    margin: 0 auto 35px;
    overflow: hidden;
    padding: 0;
    width: 266px;
}
span.fill{
 background: none repeat scroll 0 0 #888888;
    display: block;
    float: left;
    height: 13px;
    margin: 0 0 0 1px;
    width: 37px;
	}
span.empty{
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    float: left;
    height: 13px;
    margin: 0 0 0 1px;
    width: 37px;
	}
	
span.scale-value{
   color: #888888;
    display: inline-block;
    font-size: 14px;
    margin: 5px 10px 0;
    padding: 0;
    text-align: center;
    width: 65px;
	}
	
	
	
	
.featured-product-wrap{
    display: inline-block;
    float: left;
    margin: 0 30px;
    padding: 0;
    width: 177px;
	}
.featured-product{
	display: block;
    margin: 0 0 20px;	
	}	
.featured-title{
    color: #C3C3C3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	